@import "siteBaziz.css";

@media all and (max-width: 800px){
    img{
        width:500px;
    }
    nav{
        justify-content: space-between;
    }
}
@media all and (max-width: 600px){
    h1{text-align: center;}
    nav{
        flex-direction: column;
        align-items: center;
        font-size: calc(1em + 4px);
    }
    img{width: 100%;}
    table{font-size: calc(1em - 2px);}
}

@media all and (max-width: 400px){
    table{font-size: calc(1em - 4px);}
}

img{
    
    height: 425px;
    display: block;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    text-align: justify;
}

th,td{
    padding:6px;
    border: 1px solid white;
}
